<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Post</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script>
        function updateCharacterCount() {
            const content = document.getElementById("content");
            const charCount = document.getElementById("char-count");
            charCount.textContent = `${content.value.length}/2500`;
        }
    </script>
</head>
<body>
    <div class="container">
        <header>
            <h1>Create a Post</h1>
        </header>
        <main>
            <form action="/addpost" method="POST" class="post-form">
                <label for="title">Title</label>
                <input type="text" id="title" name="title" required>

                <label for="content">Content</label>
                <div class="textarea-container">
                    <textarea id="content" name="content" required maxlength="5000" oninput="updateCharacterCount()" placeholder="Start flaming here..."></textarea>
                    <div id="char-count">0/2500</div>
                </div>

                <label for="category">Category:</label>
                <select id="category" name="category">
                    <option value="items">Items</option>
                    <option value="champs">Champs</option>
                    <option value="meta">Meta</option>
                    <option value="events">Events</option>
                </select>
                <button type="submit" class="submit-button">Post</button>
            </form>
        </main>
    </div>
</body>
</html>


