<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>comment</h1>
        <form action="/comment/?ID={{.ID}}" method="POST">
            <label for="comment">Comment:</label>
            <input type="comment" id="comment" name="comment" required><br><br>
            <button type="submit">comment</button>
        </form>
        <p>Misclick? <a href="/homepage">go back</a>.</p>
    </div>
</body>
</html>
