<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <h1>Bienvenue sur le forum</h1>
    <button onclick="window.location.href='/login';">Connexion</button>
    <button onclick="window.location.href='/register';">Inscription</button>
    {{range .}}
    <h3>{{.Title}}</h3><p>{{.Content}}</p><a href='/post/{{.ID}}'>Voir plus</a><br>
    {{end}}
    <a href="/addpost"><button>Ajouter un Post</button></a>
</body>
</html>
