<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoL login</title>
    <link rel="stylesheet" href="/static/login.css">
    <link rel="Icon" href="/static/LogoP.png"type="image/png">
</head>
<body>
    <video class="video-background" autoplay muted loop>
        <source src="../static/FondLogin.mp4" type="video/mp4">
        Votre navigateur ne supporte pas les vidéos HTML5.
      </video>
    <div class="container">
        <image class="logo" src="../static/zone_games_logo.png"></image>
        <h1>Login</h1> 
        <form action="/login" method="POST" class="registerForm">
            
            <input type="email" placeholder="E-Mail" id="email" name="email" required><br><br>
            <input type="password" placeholder="Password" id="password" name="password" required><br><br>
            <p>Don't have an account? <a href="/register">Register here</a>.</p>
            <button type="submit"><img src="../static/LogBut.png"></button>
        </form>
        
    </div>
</body>
</html>