<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoL Register</title>
    <link rel="stylesheet" href="../static/register.css">
    <link rel="Icon" href="/static/LogoP.png"type="image/png">
</head>
<body>
    <video class="video-background" autoplay muted loop>
        <source src="../static/FondRegister.mp4" type="video/mp4">
        Votre navigateur ne supporte pas les vidéos HTML5.
      </video>
    <div class="container">
        <image class="logo" src="../static/zone_games_logo.png"></image>
        <audio id="audio" src="../static/Welcome.mp3" preload="auto"></audio>
        <script>
            window.onload = function() {
                document.getElementById("audio").play();
            }
        </script>
        <h1>Register</h1>
        <!-- Error message placeholder -->
        {{if .Error}}
            <div style="color: red; margin-bottom: 15px;">
                {{.Error}}
            </div>
        {{end}}
        <form action="/register" method="POST">
            
            <input type="email" placeholder="E-Mail" id="email" name="email" required><br><br>
            
            <input type="text" placeholder="Username" id="username" name="username" required><br><br>
            
            <input type="password" placeholder="Password" id="password" name="password" required><br><br>
            <p>Already have an account? <a href="/login">Log in here</a>.</p>
            <button type="submit"><img src="../static/LogBut.png"></button>
        </form>
    </div>
</body>
</html>